/*Stylesheet.css*/
* {                            
    margin: 0;       
    padding: 0;    
    overflow-x: hidden; 

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #F1EDEE;
}

/* Section containing styling of Nav bar*/

#navigation_bar ul {     
    font-size: 20px;                              
    list-style-type: none;         
    margin: 0;                          
    padding: 0;                         
    display: flex;                 
}

#navigation_bar li :hover {                            
    background-color: #f1edee9e;  
    border-radius: 10px;      
    color: black;                     
}

#navigation_bar ul {       
    width: 100vw;                             
    justify-content: flex-start;
    align-items: center;
    background-color: #3D5467;        
    padding: 14px;             
}

#navigation_bar a {              
    display: flex;                  
    text-decoration: none;          
    padding: 18px ; 
    color: black;                   
}


/*End of Section */
#index_description {
    text-align: center;
    padding: 0 100px;
}

#index_description h1 {
    padding: 25px;
}
/*--------------------------------------------------------*/
#jazz_subgenres  {
    padding: 20px;
}
/*--------------------------------------------------------*/

/*Section containing styling for main Page*/

#overview {
    padding: 80px 225px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.overview-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.overview-item img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

#overview p {
    padding: 50px;
    max-width: 600px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: #DB5461;
    height: 100px;
}

#footer h1 {
    padding: 4px;
}

#footer p {
    padding: 5px;
    float: right;
}

#progressBar {
    width: 1000px;
    margin: 10px auto;
    background-color: #3D5467;
}

#userProgress {
    width: 1%;
    height: 30px;
    background-color: #8AA29E;
}